<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.2.0/nouislider.min.css" />
      <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .alert {
        margin-bottom: 0px;
      }
      .footer {
       position: absolute;
       height: 40px;
       bottom: 40px;
      }

}
    </style>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
      var latitude = 0;
      var longitude = 0;
    </script>
  </head>
    <div class="alert alert-success alert-dismissible" role="alert" id="success-alert">
        <button type="button" class="close" aria-label="Close" id="close-button"><span aria-hidden="true">&times;</span></button>
        Ваше сообщение принято.
    </div>
    <div id="map"></div>
    <div class="footer col-xs-10 col-xs-offset-1">
        <div class="well">
            <div class="row">
                <div class="col-xs-3">
                    <b> Прогноз распространения: </b>
                </div>
                <div id="slider-predict" class="col-xs-8"></div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" id="danger_dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Горим?</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-danger btn-sm" id="fire-button">Это пожар!!!</button>
                <button type="button" class="btn btn-primary btn-sm" id="smoke-button">Нет. Это только дым!</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
      $('#success-alert').hide()

      var map;
      function initMap(predict) {
        predict = predict || '0';
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: {lat: -33.865427, lng: 151.196123},
          mapTypeId: 'terrain'
        });

        map.addListener('click', function(event) {
          window.latitude = event.latLng.lat();
          window.longitude = event.latLng.lng();

          $('#danger_dialog').modal('show');
        });

        $('#fire-button').click(function() {
            var type = 'fire';
            push_event(type);
        });

        $('#smoke-button').click(function() {
            var type = 'smoke';
            push_event(type);
        });

        $('#close-button').click(function() {
            $('#success-alert').hide()
        });

        function push_event(type) {
            var geo_get_parameter = '?latitude=' + window.latitude;
            geo_get_parameter = geo_get_parameter + '&longitude=' + window.longitude;
            geo_get_parameter = geo_get_parameter + '&type=' + type;

            $.get( "/api/add_event" + geo_get_parameter, function( data ) {
                 $('#success-alert').show()
           });
           $('#danger_dialog').modal('hide');
        };

        $.getJSON('/api/?predict=' + predict, function(json) {
            var color = null;
            json.forEach(function(surfaces) {
                if (surfaces.internal_surface == null) {
                    var poligon = [surfaces.external_surface];
                } else {
                    var poligon = [surfaces.external_surface, surfaces.internal_surface];
                }
                if (surfaces.type == 'fire') {
                    color = 'red';
                } else if (surfaces.type == 'smoke') {
                    color = 'grey';
                } else {
                    color = '#AC0402';
                }
                var poligon = new google.maps.Data.Polygon(poligon);


                map.data.setStyle(function(feature) {
                    return {
                      fillColor: feature.f.fillColor,
                      strokeColor: feature.f.fillColor,
                      strokeWeight: 1
                    };
                });

                new google.maps.Marker({
                    position: surfaces.external_surface[0],
                    map: map
                });

                map.data.add({geometry: poligon, properties: {
                    fillColor: color
                 }});
            });
        });

      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2loeuwqUj2N4AyyppZNBYRIrJSylzh3w&libraries=visualization&callback=initMap">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.2.0/nouislider.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")></script>
    <script>
        var slider = document.getElementById('slider-predict');

        noUiSlider.create(slider, {
	        start: [0,],
	        connect: true,
	        tooltips: true,
	        step: 1,
	        range: {
		        'min': 0,
		        'max': 20
	        }
        });
        slider.noUiSlider.on('change', function(values){
	        initMap(values);
        });
    </script>
  </body>
</html>